.right .contact-address{
    display: flex;
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 35px 40px;
}
.right .contact-address .address-form{
    display: flex;
    flex-direction: column;
}
.right .contact-address .address-title{
    font-size: 16px;
    letter-spacing: 2px;
}
.right .contact-address .address-form input{
    max-width: 550px;
    outline: none;
    padding: 5px 25px;
    font-size: 15px;
    margin: 15px 0;
    border: none;
    border:1px solid rgb(195, 195, 195);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 500;
}
.right .contact-address .address-form input[name="country"]{
    margin-left: 15px;
}